@font-face 
{
    font-display: swap;
}

#__nuxt
{
    display: flex;
    flex-direction: column;
    min-height: 100vw;
}

html 
{
    min-height: 100vh; /* Look, it's not fixed anymore! */

    display: flex;
    flex-direction: column;
}

body 
{
    min-height: 100vh;
    font-family: Rubik;
}

:root 
{
    --textColorNav: #ccd6f6;
    --linkColor: rgb(23,190,187);
    --backgroundColor: #0A192F;
    background-color: var(--backgroundColor);
    color: var(--textColorNav)
}

.router-link-active
{
    color: var(--linkColor);
    text-decoration: underline;
}

.dark-mode body 
{
    background-color: var(--backgroundColor) !important;
}

